@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --btn-bg-color: #EEF0F5;
    --btn-bg-hover-color: #B2B9C2;
    --btn-hover-text-color: #5F6164;
    --twitter-color: #55ACEE;
    --linkedin-color: #007BB5;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    background-image: url("/images/radiant-gradient.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
}

.container-center{
    max-width: 500px;
    padding: 0rem 1rem;
    margin: auto;
    text-align: center;
}

h1{
    padding: 0.4rem;
    text-align: center;
}

label {
    font-weight: bold;
    font-size: medium;
    padding: 0.5rem 1rem;
    display: block;
}

input {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    display: block;
    margin: auto;
}

/* hide arrows from input number field */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0rem;
}

/* style specifically for quiz.html */
.quiz-input{
    display: inline;
}

/* style specifically for quiz.html */
.quiz-label{
    display: inline;
}

/* style specifically for quiz.html */
p{
    padding: 0.5rem;
    font-weight: bold;
}

/* style specifically for quiz.html */
.container{
    background-color: var(--btn-bg-color);
    padding: 0rem 0rem 1rem 0rem;

}

#div-output {
    text-align: center;
    margin: 1rem 0rem 2rem 0rem;
    font-size: large;
    font-weight: bold;
}

#btn-check, #btn-calculate, #btn-input {
    background-color: var(--btn-bg-color);
    color: black;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

#btn-check:hover, #btn-calculate:hover, #btn-input:hover {
    background-color: var(--btn-bg-hover-color);
    color: var(--btn-hover-text-color);
}

.navigation {
    color: black;
    padding: 0.5rem;
    text-align: right;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

.li-link{
    margin: 2rem;
    display: block;
    background-color: var(--btn-bg-color);
    color: black;
    border-radius: 1.5rem;
    padding: 1rem;
}

.li-link:hover, .li-home:hover{
    background-color: var(--btn-bg-hover-color);
    color: var(--btn-hover-text-color);
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.li-home{
    color: black;
    background-color: var(--btn-bg-color);
    border-radius: 1.5rem;
}

.footer {
    padding: 2rem 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
    color: black;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

/* .footer .link {
    color: black;
} */

.footer ul {
    padding-inline-start: 0px;
}

.fa {
    padding: 0.5rem;
    font-size: x-large;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.6;
}

.fa-twitter {
    color: var(--twitter-color);
}

.fa-linkedin {

    color: var(--linkedin-color);
}

.fa-github {
    color: black;
}

.copyright{
    font-weight: normal;
}